@import "variables";

body {
  background-color: $background;
}

.WeatherReport {
  text-align: center;
}

h1, h2 {
  color: $logo-color;
  font-weight: 900;
  font-family: 'Alegreya', serif;
  font-size: 4em;
  margin-bottom: 40px;
  margin-top: 50px;
  text-shadow: -1px 0 $border-color, 0 1px $border-color, 1px 0 $border-color, 0 -1px $border-color;
}

h2 {
  color: $border-color;
  margin-top: 30px;
}

.welcome {
  color: $hover-color;
  font-family: 'Alegreya', serif;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 1.3px;
  margin: 15px;
}

.invalid {
  font-family: 'Alegreya', serif;
  font-size: 1.5em;
  font-weight: 400;
}

.high {
  margin: 25px 0 5px 0;
}

input {
  background-color: $background;
  border: none;
  border-bottom: 2px solid $border-color;
  font-family: 'Alegreya', serif;
  font-weight: 400;
  font-size: 2em;
  margin: 20px;
  outline: none;
  height: 55px;
  width: 400px;
  text-indent: 15px;
}

button {
  background-color: $button-color;
  border: none;
  border-radius: 4px;
  color: $border-color;
  font-family: 'Alegreya', serif;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  height: 35px;
  width: 140px;
  &:hover {
    background-color: $hover-color;
    color: $background;
    cursor: pointer;
  }
}

article {
  border: 4px solid $border-color;
  color: $text-color;
  font-family: 'Alegreya', serif;
  font-weight: 400;
  margin: 20px auto;
  padding: 10px;
  height: 150px;
  width: 300px;
}

.date {
  color: $border-color;
  float: right;
  font-weight: 900;
  font-size: 1.2em;
}

p.clear, p.thunderstorms, p.fog, p.wind, p.clouds, p.rain, p.snow {
  height: 40px;
  width: 40px;
  margin: 10px auto;
}

p.clear {
  background-image: url('http://icons.wxug.com/i/c/f/sunny.gif');
}

p.thunderstorms {
  background-image: url('http://icons.wxug.com/i/c/f/storm.gif');
}

p.wind, p.clouds, p.fog {
  background-image: url('http://icons.wxug.com/i/c/f/cloudy.gif');
}

p.rain {
  background-image: url('http://icons.wxug.com/i/c/f/rain.gif');
}

p.snow {
  background-image: url('http://icons.wxug.com/i/c/f/snow.gif');
}

.hot {
  background-color: $hot;
}

.warm {
  background-color: $warm;
}

.cool {
  background-color: $cool;
}

.cold {
  background-color: $cold;
}
