@import "variables";

body {
  background-color: $primary-color;
}

#logo {
  margin-top: 150px;
  text-align: center;
  text-shadow: -1px 0 $border-color, 0 1px $border-color, 1px 0 $border-color, 0 -1px $border-color;
}

h1 {
  color: $secondary-color;
  font-family: 'Alegreya', serif;
  font-size: 4em;
  font-weight: 900;
}
