$logo-color:      #A71300;
$button-color:    #9BD7D5;
$hover-color:     #129793;
$border-color:    #505050;
$text-color:      #000000;
$hot:             #F8977F;
$warm:            #FFA500;
$cool:            #00CDCD;
$cold:            #FFFFFF;
$background:      #F9FAF8;

$font-family:     'Alegreya', serif;
$img-margin:      10px auto;
