$hover-color:     #129793;
$secondary-color: #FF7260;
$basic-color:     #FFFFFF;
$border-color:    #505050;
$button-color:    #9BD7D5;
$primary-color:   #CBFFFA;
$text-color:      #FFF5C3;
$thunderstorm:    #DADADA;
$sunny:           #FFA500;
